.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  padding-block: 1rem;
}
.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 0.5rem;
}

.open__arrow {
  cursor: pointer;
  rotate: -90deg;
  transition: rotate 0.2s ease-out;
}
.name__input {
  width: 90%;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: italic;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.name__input:focus {
  outline: none;
}

.date__input {
  width: max-content;
}
.date__input input {
  cursor: auto;
  color: rgba(100, 100, 100, 0.6) !important;
  text-align: right;
  font-size: 1.2rem !important;
}
.date__input span {
  width: 100%;
  background: none !important;
}

.date__input svg {
  margin-left: -10px !important;
}

.card__interaction {
  position: relative;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1rem;
}

.card__interaction img {
  cursor: pointer;
  opacity: 0.8;
  width: 32px;
  height: 32px;
}

.save {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
  padding: 0rem 1rem;
  height: 100%;
  right: -80px;
}

.checkbox {
  scale: 1.25;
}

.newTodo__container {
  width: min-content;
  padding: 1rem 0rem;
}
.newTodo__content {
  cursor: pointer;
  background: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.newTodo__icon {
  opacity: 0.8;
}
