:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  height: 100dvh;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: white;
}
.scroller {
  overflow-x: hidden;
  scrollbar-gutter: stable;
  width: 100%;
  height: 100dvh;
}

main {
  width: 100%;
}
nav {
  position: relative;
  height: 100%;
}

a:hover {
  scale: 1.1;
  transition: scale 0.15s;
}

span {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.9);
}
h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

h2 {
  font-family: var(--font-lora);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;

  color: rgba(140, 140, 140, 1);
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
