.nav__container {
  width: 5rem;
  padding: 1rem 0rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  background: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.nav__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.open {
  width: min-content;
}

.invert {
  filter: invert(0.7);
}
