.card {
  grid-column: span 1;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 12fr 2fr;
  gap: 1rem;
  padding: 0.2rem;
}

.deadline {
  grid-column: 1/2;
  padding-block: 0.25rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;

  background: white;
  border-radius: 0.5rem;
}
.card:hover .card__interaction {
  opacity: 1;
  pointer-events: all;
}
.card__interaction {
  pointer-events: none;

  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1rem;
}

.card__interaction > img {
  opacity: 0.8;
}
.checkbox {
  scale: 1.25;
}

.deadline > span {
  font-size: 1.2rem;
  color: gray;
}
.lastday {
  height: 60%;
}
.null {
  border-right: none;
}

.month {
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  color: rgba(100, 100, 100, 1);
  font-size: 1.8rem;
  font-family: var(--font-lora);
  font-weight: 300;
  font-style: italic;
}
