.form__container {
  padding: 0rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: flex-start;
}

.form input,
.form textarea,
.form label {
  width: 100%;
}
.form input,
.form select {
  margin-top: 5px;
}

.submit {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.error {
  background: rgba(255, 0, 0, 0.6);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
