.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 11fr 1fr 6fr;
  grid-template-rows: 2fr 10fr;
  background-color: rgba(245, 245, 245, 1);
}

.header {
  grid-column: 1/3;
  position: sticky;
  top: 0;
  z-index: 9999;

  display: grid;
  grid-template-columns: max(900px, 12fr) 6fr;

  padding: 1rem 0rem;

  backdrop-filter: blur(15px);
}
.title {
  width: 100%;
  display: grid;
  grid-template-rows: 6fr 3fr;
  align-items: center;
  padding-left: 1rem;
}

.participants {
  display: flex;

  justify-content: space-between;
}

.owner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.todos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.inter__sections {
  width: 100%;
  grid-row: 1/3;
  grid-column: 3/4;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(270deg, rgba(240, 240, 240, 1) 20%, rgba(245, 245, 245, 1) 60%);
}

.right__display {
  position: sticky;
  top: 0;
  background-color: rgba(245, 245, 245, 1);
  padding: 1rem;
  grid-column: 4/5;
  grid-row: 1/3;
}
