.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;

  padding-inline: 3rem;
  width: max(900px, 70%);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 1rem 0rem;
  border-bottom: 1px solid grey;
}

.todos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}
