.main {
  display: grid;
  grid-template-columns: 11fr 0.1fr 6fr;
  gap: 2rem;
  padding: 3rem;
}

.panel__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.panel__list {
  display: grid;
  grid-auto-rows: 100px;
}

.display__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 1rem 2rem 2rem;
}
.inter__sections {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}
