.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;

  padding: 6rem;
  min-height: 100vh;
}

.forms__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
}

.groups__container {
  width: 500px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.groups__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
